@model List<VwApplyForAJob>


@section Style
    {
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/Admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Admin/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Admin/images/favicon.png" />
    }


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Posted Jobs </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Job</a></li>
                <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Striped Table</h4>
                    <p class="card-description">
                       
                    </p>
                    <div class="table-responsive">
                        <table id="order-listing" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="color:#fff;"> Company Logo </th>
                                    <th style="color:#fff;"> Job Name </th>
                                    <th style="color:#fff;"> Category Name  </th>
                                    <th style="color:#fff;"> Posted Date </th>
                                    <th style="color:#fff;"> Resume </th>
                                    <th style="color:#fff;"> Actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var apply in Model)
                                {
                                    <tr>
                                        <td class="py-1">
                                            <img src="~/Uploads/Jobs/@apply.CompanyLogo" alt="image">
                                        </td>
                                        <td style="color:#fff;"> @apply.JobName </td>
                                        <td style="color:#fff;">
                                            @apply.CompanyName
                                        </td>
                                        <td style="color:#fff;"> @apply.ApplyDate </td>
                                        <td class="py-1">
                                            <a asp-controller="ApplyForJobs" asp-action="DownloadFile" asp-route-applyId="@apply.ApplyId">
                                            <img src="/FrontEnd/img/icon/PDF.png" alt="image">
                                            </a>
                                        </td>
                                        <td class="col-md-4" style="padding: 0.5rem 1rem;">
                                            <a style="height:max-content"
                                           asp-controller="ApplyForJobs" asp-action="Edit" asp-route-applyId="@apply.ApplyId"
                                           class="btn btn-info btn-fw">Edit</a>


                                            <a asp-controller="ApplyForJobs" asp-action="Delete" asp-route-applyId="@apply.ApplyId"
                                           class="btn btn-danger btn-fw">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <!-- Plugin js for this page -->
    <script src="~/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>

    <!-- Custom js for this page -->
    <script src="~/Admin/js/data-table.js"></script>
    <!-- End custom js for this page -->
}